name: publish

on:
  workflow_run:
    workflows: [tests]
    branches: [main]
    types: [completed]

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - uses: actions/checkout@main
      - uses: astral-sh/setup-uv@main
        with:
          enable-cache: true
          python-version: "3.14"

      - name: Build Package
        run: |
          uv build
          uv publish --token ${{ secrets.PYPI }}
