# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tests

on:
  pull_request:
    branches: [master, develop]

  push:
    branches: [master, develop]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    services:
      mysql:
        image: mysql
        env:
          MYSQL_DATABASE: tests
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        ports:
          - "3306:3306"
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      postgres:
        image: postgres
        env:
          POSTGRES_DB: tests
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - "5432:5432"

    steps:
      - uses: actions/checkout@main
      - name: Install uv
        uses: astral-sh/setup-uv@main
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Setup dependencies
        run: uv sync --locked --all-extras --dev

      - name: Check code
        run: uv run ruff check

      - name: Check typing
        run: uv run pyrefly check

      - name: Test with pytest
        run: uv run pytest tests
